.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #63372C;
    text-transform: capitalize;
    color:white;
    height:40px;
    padding:0 20px;
}
.footer div a{
    padding-left:15px;
}